body {
	margin: 0;
	padding: 0;
	line-height:0;
}

.container {
	width: 900px;
	margin: 30px auto;
}

p {
	padding: 7px 12px;
	font: 14px sans-serif;
	color: #555;
	background-color: #F0F0F0;
	text-align: center;
}

.square {
	background-color: black;
	border: 1px solid white;
	display: inline-block;
}

.square_highlight {
	background-color: blue;
}

.new_row {
	clear: both;
}